{% extends "base.html" %}

{% block title %} Manage Quizzes {% endblock %}

{% block body %}
    <h1>Manage Quizzes</h1>

    <ul>
        {% for quiz in quizzes %}
            <li>
                <strong>Title:</strong> {{ quiz.title }}<br>
                <strong>Description:</strong> {{ quiz.description }}<br>
                <strong>Time Limit:</strong> {{ quiz.time_limit }} minutes<br>
                <!-- Add more quiz details as needed -->

                <form action="/quiz/{{ quiz.id }}/edit" method="get">
                    <button type="submit">Edit Quiz</button>
                </form>
                <form action="/quiz/{{ quiz.id }}/delete" method="post">
                    <button type="submit">Delete Quiz</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="/quiz/create_quiz">Create New Quiz</a>
{% endblock %}

{% block footer %} 
    Interactive Quiz, ©2024 , All rights reserved. 
{% endblock %}
