<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8" />
        <title> {% block title %} Home page layout {% endblock %}</title>
        {% block head %}
        
        {%  endblock %}
	</head>

<!--body starts here-->
    <body>
        {% block body %} 
        
        {%  endblock %}
    </body>
<!--body ends here-->

    <footer>
        {% block footer %} 
            Interactive Quiz, ©2024 , All rights reserved. 
        {%  endblock %}
    </footer>
</html>